<!--<md-card style="width: 400px">-->
  <!--<md-card-header>-->
    <!--<div md-card-avatar style="background-size: cover; background-image: url('../../../assets/shiba2.jpg')"></div>-->
    <!--<md-card-title>Shiba Inu</md-card-title>-->
    <!--<md-card-subtitle>Dog Breed</md-card-subtitle>-->
  <!--</md-card-header>-->
  <!--<img md-card-image src="assets/shiba2.jpg">-->
  <!--<md-card-content>-->
    <!--<p>-->
      <!--The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
      <!--A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
      <!--bred for hunting.-->
    <!--</p>-->
  <!--</md-card-content>-->
  <!--<md-card-actions>-->
    <!--<button md-button>LIKE</button>-->
    <!--<button md-button>SHARE</button>-->
  <!--</md-card-actions>-->
<!--</md-card>-->


<md-grid-list cols="4" rowHeight="350px">
  <md-grid-tile
    *ngFor="let tile of tiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color">
    {{tile.text}}
  </md-grid-tile>

</md-grid-list>
